1ste sem:
	- sws ML					6
	- 2de vak: 	
		- Est & dec 			4
		- game theory			6
		- Beeldverwerking		6
		- IOT					6
		
2de sem:
	- bijna zeker Deep learning	6
	- 2de vak:
		- NLP					4
		- opt techniques		6
	
	